*.o
as_src/as.c
as_src/as88
as_src/y.tab.h
bin/as88
bin/s88
bin/t88
examples/as88
examples/s88
examples/t88
exercise/as88
exercise/s88
exercise/t88
regtest/as88
regtest/s88
regtest/t88
trce_src/s88
trce_src/t88
.vscode
